:root {
  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --base-color: #ffffff;
  --base-background: linear-gradient(90deg, #121010 0%, #0E0C0C 100%);

  --text-size: 16px;
  --text-line-height: 1.5;

  --title-size: 32px;
  --title-line-height: 1.2;

  --subtitle-size: 24px;
  --subtitle-line-height: 1.2;

  --link-size: var(--text-size);
  --link-line-height: var(--text-line-height);

  --btn-size: var(--text-size);
  --btn-line-height: var(--text-line-height);

  --input-size: var(--text-size);
  --input-line-height: var(--text-line-height);

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.my-page {
  display: flex;
  flex-direction: column;
  font-size: var(--text-size);
  line-height: var(--text-line-height);
  min-height: 100%;
  margin: 0;
  background-image: var(--base-background);
  font-family: var(--font-family), 'Inter', sans-serif;
  color: var(--base-color);
}

.app-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.border-none {
  border: none;
}

.p-20 {
  padding: 20px;
}

.list-style-none {
  list-style: none;
}

.my-link {
  text-decoration: none;
  font-size: var(--link-size);
  line-height: var(--link-line-height);
}

.my-title {
  font-size: var(--title-size);
  line-height: var(--title-line-height);
}

.my-subtitle {
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-line-height);
}

.not-valid {
  box-shadow: inset 0 0 0 5px #ff0000;
}