@use 'variables' as var;

.about-us {
  .present {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__block {
      border-bottom: 1px solid red;
      padding-bottom: 10px;
      padding-top: 20px;
    }

    &__main-title {
      position: relative;
      margin: 0;
      padding-top: 10px;
      margin-bottom: 30px;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        right: 0;
        width: 95%;
        height: 90%;
        background-color: var.$red;
        filter: blur(20px);
        opacity: 0.7;
        z-index: -1;
      }
    }

    &__text {
      font-size: 16px;
      letter-spacing: 1px;
      text-align: center;
    }

    &__text:first-of-type {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: normal;
      text-align: center;
    }

    &__list-title {
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 0;
    }

    &__list-item {
      padding-left: 20px;
      border-left: 4px solid var.$red;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-size: 12px;
      letter-spacing: 0.5px;
      margin-bottom: 30px;
    }

    &__list-comment {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    &__comment-text {
      margin: 0;
      font-size: 20px;
      text-align: center;
      letter-spacing: 1px;
    }
  }

  .tech-photo {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
      margin: 0;
      padding-top: 1em;
      font-weight: 600;
      text-align: center;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 23px;
      text-decoration-color: var.$red;
      z-index: 2;
    }

    &__swiper {
      border-top: 1px solid var.$white;
      border-bottom: 1px solid var.$white;
      padding-top: 20px;
      padding-bottom: 50px;
      max-width: 100%;
    }

    &__swiper-wrapper {
      @media screen and (min-width: var.$tablet) {
        gap: 10px;
      }
    }

    &__swiper-slide {
      @media screen and (max-width: var.$tablet) {
        display: flex;
        justify-content: center;
      }

      @media screen and (min-width: var.$tablet) {
        flex-basis: 50%;
      }
    }

    &__text {
      font-size: 12px;
      letter-spacing: 0.05em;
      line-height: 20px;
    }
  }

  .reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
      margin: 0;
      padding-top: 1em;
      font-weight: 600;
      text-align: center;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 23px;
      text-decoration-color: var.$red;
      z-index: 2;
    }

    &__swiper {
      border-top: 1px solid var.$white;
      border-bottom: 1px solid var.$white;
      padding-top: 20px;
      padding-bottom: 50px;
      max-width: 100%;
    }

    &__swiper-wrapper {
      min-height: 600px;

      li {
        display: flex;
        flex-direction: column;
        width: 300px;
        min-height: inherit;
        background-color: var.$gray_424242;
        padding: 20px;
        gap: 20px;
        border-radius: 10px;

        p {
          background: var.$red;
          margin: 0;
        }

        div {
          display: flex;
          justify-content: space-between;

          p {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

@media screen and (min-width: var.$tablet) {
  .about-us {
    .present {
      &__main-title {
        font-size: 50px;
        padding-top: 5px;

        &::after {
          left: 15px;
        }
      }
      &__list-item {
        position: relative;
        padding-left: 25px;
        line-height: 21px;
        border-left: none;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 16px;
          height: 16px;
          background-image: url('#{var.$DEV_PATH}assets/images/vectors/aprove.svg');
          background-size: cover;
          z-index: -1;
        }
      }

      &__block:last-of-type {
        padding-bottom: 20px;
      }
    }
  }
}
