@use "variables"as var;

.card-more {
  position: relative;
  max-width: 1440px;
  padding: 10px;
  display: grid;
  grid-template-columns: 300px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var.$gray_2B2B2B;
  border-radius: 20px;

  @media screen and (min-width: var.$tablet) {
    grid-template-columns: min-content 1fr 1fr;
  }

  @media screen and (min-width: var.$desktop-min) {
    width: 1024px;
    margin: 0 auto;
  }

  @media screen and (min-width: var.$desktop) {
    width: 1440px;
  }

  .product-card {
    gap: 10px;
    background-color: inherit;
    padding: 0;

    @media screen and (min-width: var.$tablet) {
      grid-column: 1 / 2;
      grid-row: 2 / 6;
      align-self: flex-start;
    }

    @media screen and (min-width: var.$desktop-min) {
      max-width: 1024px;
    }

    @media screen and (min-width: var.$desktop) {
      max-width: 1440px;
    }

    img {
      height: auto;
    }

    &:hover {
      transform: none;
    }

    &__wrapper {
      grid-row: 3/4;

      @media screen and (min-width: var.$tablet) {
        align-self: flex-start;
        grid-column: 1/4;
        grid-row: 1/2;
      }      
    }

    &__content {
      grid-row: 8/9;

      @media screen and (min-width: var.$tablet) {
        grid-column: 2 / 4;
        grid-row: 3 / 6;
        align-self: flex-start;
      }
    }

    &__description {      
      margin: 0;
      margin-bottom: 10px;
      padding: 10px;
      font-family: var.$primary-font;
      font-size: 18px;
      line-height: 22px;
      border-radius: 20px;
      background-color: var.$gray_424242;
    }

    &__price {
      margin: 0;
      font-family: var.$primary-font;
      font-size: 20px;
      text-transform: uppercase;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-family: var.$secondary-font;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    grid-row: 2/3;

    @media screen and (min-width: var.$tablet) {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      align-self: flex-start;
    }
    
  }

  &__text {
    margin: 0;
    font-family: var.$primary-font;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    grid-row: 4/5;

    @media screen and (min-width: var.$tablet) {
      grid-column: 2/4;
      grid-row: 7/8;
    }
  }

  &__text--info {
    grid-row: 7/8;

    @media screen and (min-width: var.$tablet) {
      grid-column: 2/4;
      grid-row: 6/7;
      justify-self: flex-end;
    }
  }

  &__wrapper {
    grid-row: 5/6;

    @media screen and (min-width: var.$tablet) {
      grid-column: 1/2;
      grid-row: 7/9;
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .swiper-wrapper {
    width: 300px;

    @media screen and (min-width: var.$desktop-min)  {
      width: 510px;
    }
  }

  .thumbs {
    padding: 0 5px;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    background-color: var.$white;
    border-radius: 20px;
    cursor: pointer;
  }

  .big-slide {
    padding: 10px;
    width: 300px;
    height: 300px;

    @media screen and (min-width: var.$desktop-min)  {
      width: 400px;
      height: 400px;
    }
  }

  .small-slide {    
    padding: 5px;
    border-radius: 5px;
    min-width: 80px;
    height: 80px;

    @media screen and (min-width: var.$desktop-min)  {
      width: 100px;
      height: 100px;
    }
  }

  button {
    font-family: var.$secondary-font;
    grid-row: 6/7;
    justify-self: center;

    @media screen and (min-width: var.$tablet) {
      grid-column: 3/4;
      grid-row: 8/9;
    }
  }
}