@use 'variables' as var;

.catalog {
  display: grid;
  gap: 20px;

  @media screen and (min-width: var.$desktop-min) {
    gap: 0;
    justify-content: center;
  }

  &__wrapper {
    position: relative;
    width: 320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: var.$tablet) {
      width: 768px;
      padding-left: 30px;
      padding-right: 30px;
    }

    @media screen and (min-width: var.$desktop-min) {
      position: relative;
      width: 1024px;
      padding: 0;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row;
    }

    @media screen and (min-width: var.$desktop) {
      width: 1440px;
    }
  }

  &__products {
    padding-bottom: 10px;
    display: grid;
    gap: 20px;
    justify-items: center;

    @media screen and (min-width: var.$tablet) {
      padding-bottom: 20px;
      grid-template-columns: 354px 354px;
      justify-content: center;
    }

    @media screen and (min-width: var.$desktop-min) {
      padding-left: 14px;
      grid-template-columns: 300px 300px;
      justify-content: stretch;
    }

    @media screen and (min-width: var.$desktop) {
      padding-right: 0;
      grid-template-columns: repeat(3, 335px);
      justify-content: flex-start;
    }

    .product-card__body {
      padding-left: 10px;
      padding-right: 10px;
    }

    .product-card .product-card__bg {
      clip-path: polygon(0 0%, 100% 0, 100% 90%, 0% 100%);
    }

    h3 {
      font-size: 26px;
      line-height: 34px;
      word-wrap: break-word;
      text-align: center;
    }

    p:not(.article__quantity) {
      margin: 0;
      margin-bottom: 20px;
      font-size: 48px;
      line-height: 66px;
      font-weight: 700;
      text-align: center;

      span:nth-child(1):not(.offers__price) {
        display: none;
      }

      span:nth-child(2) {
        color: var.$red-B40036;
        font-size: 62px;
        line-height: 62px;
        font-weight: 400;
      }
    }

    .product-card__buttons {
      a,
      button {
        font-family: var.$secondary-font;
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
      }
    }
  }

  &__products-wrapper {
    grid-column: 2/13;

    .sorting {
      margin-bottom: 20px;

      p {
        margin-top: 0;
      }
    }
  }

  & aside {
    @media screen and (min-width: var.$desktop-min) {
      width: 320px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .catalog .container {
      @media screen and (min-width: var.$desktop-min) {
        width: 320px;
        grid-row: 9;
      }
    }
  }

  &__offers {
    @media screen and (max-width: var.$desktop-min) {
      grid-column: 1/-1;
    }
  }
}
