@use 'variables' as var;

.contacts-section {
  padding-top: 20px;

  @media screen and (min-width: var.$tablet) {
    padding-top: 20px;
  }

  & h2 {
    position: relative;
    padding-top: 10px;
    margin: 0 0 80px 0;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 0;
      width: 95%;
      height: 90%;
      background-color: var.$red;
      filter: blur(20px);
      opacity: 0.7;
      z-index: -1;
    }

    @media screen and (min-width: var.$tablet) {
      font-size: 50px;
      padding-top: 5px;
    }

    @media screen and (min-width: var.$desktop) {
      font-size: 50px;
      margin-bottom: 150px;
    }
  }

  &__list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 0;
    gap: 20px;
    padding: 0 0 40px 0;

    @media screen and (min-width: var.$tablet) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: stretch;
      gap: 30px;
    }

    @media screen and (min-width: var.$desktop) {
      padding-bottom: 100px;
      gap: 50px;
    }
  }

  &__item {
    width: 250px;
    background-color: rgba(47, 47, 47, 0.3);
    border: 2px solid orange;

    @media screen and (min-width: var.$tablet) {
      width: 300px;
    }
  }

  &__item::after {
    position: absolute;
    content: '';
    width: 28px;
    height: 28px;
    background-image: url('#{var.$DEV_PATH}assets/images/vectors/whatsapp.svg');
    background-repeat: no-repeat;
    background-size: 28px 28px;
    left: -34px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__item a {
    display: block;
    font-family: var.$primary-font;
    font-size: 18px;
    margin: 0;
    text-decoration: none;
    color: var.$white;
    padding: 45px 35px;
    cursor: pointer;
    text-align: center;
    border: 2px solid red;
  }

  &__item a:hover {
    opacity: 0.4;
  }

  &__item h3 {
    /* width: 200px; */
    margin: 0 0 20px 0;
    font-weight: 600;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      background-image: url('#{var.$DEV_PATH}assets/images/vectors/phone-no-border.svg');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      left: -34px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item p {
    font-family: var.$primary-font;
    font-size: 18px;
    margin: 0;
  }

  &__item--whatsap h3{
    font-weight: 600;
    position: relative;

    &::after{
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      background-image: url('#{var.$DEV_PATH}assets/images/vectors/whatsapp.svg');
      background-repeat: no-repeat;
      background-size: 28px 28px;
      left: -34px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__item--email,
  &__item--address,
  &__item--schedule,
  &__item--social {
    padding: 45px 0;
    /* width: 250px; */
    text-align: center;
  }

  &__item--email h3{
    width: 200px;
    margin: 0 auto 20px auto;
    font-weight: 600;
    position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('#{var.$DEV_PATH}assets/images/vectors/message-icon.svg');
        background-repeat: no-repeat;
        background-size: 20px 20px;
        left: -34px;
        top: 50%;
        transform: translateY(-50%);
      }
  }

  &__item--email p {
    width: 220px;
    margin: 0 auto;

    @media screen and (min-width: var.$tablet) {
      width: 250px;
      text-transform: none;
    }
  }

  &__item--address h3{
      font-weight: 600;
      width: 200px;
      margin: 0 auto 20px auto;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        mask-image: url('#{var.$DEV_PATH}assets/images/vectors/geo.svg');
        mask-repeat: no-repeat;
        mask-size: 25px 25px;
        background-color: var.$red;
        left: -34px;
        top: 50%;
        transform: translateY(-50%);
      }
  }

  &__item--address p {
    width: 220px;
    margin: 0 auto;

    @media screen and (min-width: var.$tablet) {
      width: 250px;
      text-transform: none;
    }
  }

  &__item--schedule{
    text-align: center;
  }

  &__item--schedule h3{
      font-weight: 600;
      width: 200px;
      margin: 0 auto 20px auto;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        mask-image: url('#{var.$DEV_PATH}assets/images/vectors/clock.svg');
        mask-repeat: no-repeat;
        mask-size: 25px 25px;
        background-color: var.$red;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
      }
  }

  &__item--schedule p {
      width: 220px;
      margin: 0 auto;
      text-align: center;

    @media screen and (min-width: var.$tablet) {
      width: 250px;
      text-transform: none;
    }
  }

  &__item--schedule p:last-child {
      color: var.$red;
  }

  &__item--social {
    border: 2px solid red;

    &::after {
      background-image: none;
    }
  }

  &__item--social h3{
      font-weight: 600;
      width: 200px;
      margin: 0 auto 20px auto;


      &::after {
        background-image: none;
      }
  }

  &__item--social a {
    display: block;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    border: none;
  }

  &__item--social-icons {
    width: 200px;
    margin: 0 auto;
    /* min-height: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    padding: 0;
    list-style-type: none;
    width: 40px;
    height: 40px;
  }

  &__item--social-icons svg{
      width: 30px;
      height: 30px;
      
  }

  &__item--btn {
    background-color: transparent;
  
    @media screen and (min-width: var.$desktop-min) {
      text-transform: none;
      margin-left: 30px;
    }
  
    @media screen and (min-width: var.$desktop) {
      margin-left: 0;
    }
  }
}
.map iframe{
  width: 100%;
}

.contacts-section-info {
  padding: 30px 0 50px 0;

  @media screen and (min-width: var.$tablet) {
    padding: 50px 0 50px 0;
  }

  & h2 {
    margin: 0 auto 30px;

    @media screen and (min-width: var.$tablet) {
      width: 600px;
      margin-bottom: 40px;
    }

    @media screen and (min-width: var.$desktop) {
      width: 1000px;
    }
  }

  & p {
    font-family: var.$primary-font;
    margin: 0 0 45px 0;
    text-align: center;

    @media screen and (min-width: var.$tablet) {
      width: 630px;
      margin: 0 auto;
      margin-bottom: 50px;
      font-size: 20px;
      text-transform: none;
    }

    @media screen and (min-width: var.$desktop-min) {
      width: 800px;
      text-align: center;
      text-transform: none;
    }

    @media screen and (min-width: var.$desktop) {
      width: 1000px;
      text-align: center;
    }
  }

  &__phone {
    font-family: var.$primary-font;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 65px 0;
    text-align: center;
  }

  &__phone p {
    margin: 0 auto 15px;

    @media screen and (min-width: var.$tablet) {
      font-size: 24px;
      width: 600px;
    }
  }

  &__box {
    width: 180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box a {
    font-size: 18px;
    color: var.$white;
    text-decoration: none;
  }

  &__slogan {
    margin: 0 auto;
    text-align: center;

    @media screen and (min-width: var.$tablet) {
      width: 600px;
      font-size: 24px;
    }
  }
}