@use 'variables' as var;

.contacts-section {
  &__title {
    position: relative;
    padding-top: 10px;
    margin-bottom: 80px;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      top: 10px;
      left: 10px;
      right: 0;
      width: 95%;
      height: 90%;
      background-color: var.$red;
      filter: blur(20px);
      opacity: 0.7;
      z-index: -1;
    }
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.contacts-section__contact p {
  font-family: var.$primary-font;
  font-size: 18px;
  margin: 0;
}

.contacts-section__contact {
  width: 100%;
  background-color: rgba(47, 47, 47, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 0 20px 0;

  &--title {
    font-weight: 600;
    padding-left: 45px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      background-image: url('#{var.$DEV_PATH}assets/images/vectors/phone-no-border.svg');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--whatsapp {
    font-weight: 600;
    padding-left: 45px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 28px;
      height: 28px;
      background-image: url('#{var.$DEV_PATH}assets/images/vectors/whatsapp.svg');
      background-repeat: no-repeat;
      background-size: 28px 28px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--phone {
    text-align: right;
  }

  &--phone a {
    color: var.$white;
    text-decoration: none;
    cursor: pointer;
  }

  &--email {
    font-weight: 600;
    padding-left: 40px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('#{var.$DEV_PATH}assets/images/vectors/message-icon.svg');
      background-repeat: no-repeat;
      background-size: 20px 20px;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--address-title {
    font-weight: 600;
    padding-left: 40px;
    margin-bottom: 20px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      mask-image: url('#{var.$DEV_PATH}assets/images/vectors/geo.svg');
      mask-repeat: no-repeat;
      mask-size: 25px 25px;
      background-color: var.$red;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--address-text {
    width: 195px;
  }

  &--schedule {
    font-weight: 600;
    padding-left: 45px;
    margin-bottom: 20px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 25px;
      height: 25px;
      mask-image: url('#{var.$DEV_PATH}assets/images/vectors/clock.svg');
      mask-repeat: no-repeat;
      mask-size: 25px 25px;
      background-color: var.$red;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--work-time {
    text-align: center;
  }

  &--work-time p:last-child {
    color: var.$red;
  }

  &--social {
    font-weight: 600;
  }

  &--social-icons svg{
    width: 30px;
    height: 30px;
  }
}

.contacts-section-info {
  padding: 30px 0 50px 0;
  &__title {
    margin: 0 0 30px 0;
  }

  &__text {
    font-family: var.$primary-font;
    margin: 0 0 45px 0;
  }

  &__phone {
    font-family: var.$primary-font;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 20px 0;
    text-align: center;
  }

  &__phone p {
    margin: 0 0 15px 0;
  }

  &__box {
    width: 180px;
    margin: 0 auto 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__box a {
    font-size: 18px;
    color: var.$white;
    text-decoration: none;
  }

  &__slogan {
    margin: 0;
    text-align: center;
  }
}