@use 'variables'as var;

.service {
  padding: 50px 0;

  &__list {
    height: 100%;
    min-height: 400px;

    li:has(.swiper-pagination) {
      display: none;
    }

    @media screen and (max-width: var.$tablet) {
      .swiper-slide {
        opacity: 0 !important;
      }

      .swiper-slide-active {
        opacity: 1 !important;
      }

      li:has(.swiper-pagination) {
        display: flex;
        justify-content: center;
        padding: 0;

        .swiper-pagination-bullet {
          transition: 0.3s ease-in-out;
          width: 20px;
          height: 20px;
          background-color: var.$gray_413E3E;
        }

        .swiper-pagination-bullet-active {
          background-color: var.$gray_959090;
        }
      }

    }

    @media screen and (min-width: var.$tablet) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      align-items: end;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item {
    align-content: self-end;
    height: inherit;
    min-height: inherit;
  }

  @media screen and (min-width: var.$desktop-min) {
    padding: 100px 0;
  }
}