@use 'variables'as var;

.service {
  padding: 50px 0;

  &__list {
    height: 100%;
    min-height: 400px;
    padding-bottom: 20px;

    li:has(.swiper-pagination) {
      display: none;
    }

    @media screen and (max-width: var.$tablet) {
      .swiper-slide {
        opacity: 0 !important;
      }

      .swiper-slide-active {
        opacity: 1 !important;
      }

      li:has(.swiper-pagination) {
        display: flex;
        justify-content: center;
        padding: 0;

        .swiper-pagination {
          bottom: 0;
          display: flex;
          flex-wrap: nowrap;
          justify-content: center;
        }

        .swiper-pagination-bullet {
          transition: 0.3s ease-in-out;
          width: 20px;
          height: 20px;
          background-color: var.$gray_413E3E;
        }

        .swiper-pagination-bullet-active {
          background-color: var.$gray_959090;
        }
      }
    }

    @media screen and (min-width: var.$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: end;
    }

    &--component {
      @media screen and (min-width: 768px) {
        height: auto;
      }


      .service__item .service-card {
        min-height: inherit;
      }

      .service__item .service-card__buttons {
        bottom: 10px;
      }

      @media screen and (min-width: 768px) {

        .service__item .service-card__buttons a,
        .service__item .service-card__buttons button {
          min-width: 135px;
          width: auto;
        }

        .service__item .service-card {
          min-height: 100%;
        }
      }

      @media screen and (min-width: 1024px) {
        .service__item .service-card__buttons {
          max-width: 100%;
        }

        .service__item .service-card__buttons a,
        .service__item .service-card__buttons button {
          font-size: 36px;
        }
      }

      &.component {
        @media screen and (max-width: 768px) {
          li:has(.swiper-pagination) .swiper-pagination.swiper-service__pagination {
            bottom: 60px;
          }
        }
      }
    }

  }

  &__item {
    align-content: self-end;
    height: inherit;
    min-height: inherit;
  }

  &__title {
      margin: 0;
      padding-bottom: 22px;
      text-align: center;        
  
      @media screen and (min-width: var.$desktop-min) {
        font-size: 40px;
        line-height: 44px;
      }
  
      @media screen and (min-width: var.$desktop) {
        padding-bottom: 40px;
        font-size: 64px;
        line-height: 88px;
      }
    }

  @media screen and (min-width: var.$desktop-min) {
    padding: 60px 0;
  }
}