@use "variables" as var;

.tab {
  &__wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 10px;


    @media (min-width: var.$tablet) {
      padding: 20px;
    }

    @media (min-width: var.$desktop) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__buttons {
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    @media (min-width: var.$tablet) {
      width: 660px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 100px;        
    }

    @media (min-width: var.$desktop-min) {
      width: 904px;
      padding-bottom: 20px;
      margin-bottom: 10px;
      column-gap: 176px;
      border-bottom: 4px solid var.$white;
    }

    @media (min-width: var.$desktop) {
      width: 1400px;
      gap: 30px;
    }
  }

  &__button {
    min-width: 280px;
    padding: 10px;
    font-family: var.$secondary-font;
    line-height: 28px;
    color: var.$white;
    cursor: pointer;

    @media (min-width: var.$desktop-min) {
      font-size: 20px;
    }

    @media (min-width: var.$desktop) {
      min-width: 230px;
      max-width: 269px;
      padding: 0;
    }
  }

  &__button--active {
    background: var.$blue-gradient;
  }

  &__content {
    display: grid;
    grid-template-columns: 280px;
    justify-content: center;

    @media (min-width: var.$tablet) {
      grid-template-columns: 660px;
    }

    @media (min-width: var.$desktop-min) {
      grid-template-columns: 904px;
    }

    @media (min-width: var.$desktop) {
      grid-template-columns: 1400px;
    }
  }

  &__title {
    max-width: 240px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    @media (min-width: var.$desktop-min) {
      max-width: 300px;
    }

    @media (min-width: var.$desktop) {
      max-width: 495px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__description {
    max-width: 240px;
    margin: 0;
    font-family: var.$primary-font;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: var.$desktop-min) {
      max-width: 300px;
    }

    @media (min-width: var.$desktop) {
      max-width: 495px;
      font-size: 24px;
      line-height: 30px;
      text-transform: none;
    }
  }

  &__list {
    display: none;
  }

  &__list--show {
    display: flex;
    flex-direction: column;
    gap: 13px;

    @media (min-width: var.$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 50px;
      row-gap: 20px;
    }

    @media (min-width: var.$desktop-min) {
      position: relative;
      column-gap: 175px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 4px;
      height: 105%;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: var.$white;
    }

    @media (min-width: var.$desktop) {      
      column-gap: 23px;    
    }
  }

  &__item {
    position: relative;
    padding-left: 60px;

    @media (min-width: var.$desktop) {
      width: 665px;
      margin-left: 0;
      padding-left: 170px;
    }
  }

  &__item:nth-child(even) {
    @media (min-width: var.$tablet) {
      padding-left: 0;
      padding-right: 60px;
      text-align: right;
    }

    @media (min-width: var.$desktop) {
      padding-right: 170px;
    }
  }

  &__item::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("#{var.$DEV_PATH}assets/images/vectors/thermometer.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 40px;

    @media (min-width: var.$desktop) {
      width: 150px;
      height: 150px;
      background-size: 110px 110px;
    }
  }

  &__item:nth-child(even)::before {
    @media (min-width: var.$tablet) {
      left: auto;
      right: 0;
    }
  }
}