@use 'variables'as var;

@font-face {
  font-family: "DINPRO";
  src: url('#{var.$DEV_PATH}assets/fonts/din-pro-400.woff2'),
  format('woff2'),
  url('#{var.$DEV_PATH}assets/fonts/din-pro-400.woff'),
  format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DINPRO";
  src: url('#{var.$DEV_PATH}assets/fonts/din-pro-700.woff2') format('woff2'),
  url('#{var.$DEV_PATH}assets/fonts/din-pro-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OSWALD";
  src: url('#{var.$DEV_PATH}assets/fonts/oswald-regular.woff2') format('woff2'),
  url('#{var.$DEV_PATH}assets/fonts/oswald-regular.woff') format('woff'),
  url('#{var.$DEV_PATH}assets/fonts/oswald-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OSWALD";
  src: url('#{var.$DEV_PATH}assets/fonts/oswald-bold.woff2') format('woff2'),
  url('#{var.$DEV_PATH}assets/fonts/oswald-bold.woff') format('woff'),
  url('#{var.$DEV_PATH}assets/fonts/oswald-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  src: url('#{var.$DEV_PATH}assets/fonts/rubik-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.primary-title {
  font-size: 48px;
}

@media screen and (max-width: var.$tablet) {
  .primary-title {
    font-size: 20px;
  }

  .secondary-title {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
    text-transform: none;
  }

  p,
  li {
    text-transform: none;
  }
}

h2 {
  font-family: var.$secondary-font;
  font-weight: 700;
  text-align: center;
}