@use "variables" as var;
@use "mixins" as mix;

html {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: var.$desktop;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  min-height: 100vh;
  background: linear-gradient(var.$black-121010, var.$black-0E0C0C);
  display: flex;
  flex-direction: column;
  font-family: var.$primary-font;
  text-transform: uppercase;
  color: var.$white;
  font-weight: 400;

  &.overflow {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

p {
  font-family: var.$secondary-font;
}

.list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#password-hash {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#captcha-render {
  background: none;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid var.$white;
  color: var.$white;
  margin-bottom: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: var.$white;
    color: var.$black;
  }
}

.error-validate {
  position: absolute;
  right: 5px;
  top: 10%;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid var.$red;
  font-size: 12px;
  background-color: var.$gray-bg-autosygnals;
  color: var.$white;
  animation: showError 0.3s ease;

  @media screen and (min-width: var.$desktop) {
    right: 20px;
    top: 40%;
    font-size: 20px;
  }
}

@keyframes showError {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
