@use 'variables' as var;
@use 'mixins' as mix;

html {
  height: 100%;
  scroll-behavior: smooth;
}

.container {
  max-width: var.$desktop;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  min-height: 100%;
  background: linear-gradient(var.$black-121010, var.$black-0E0C0C);
  display: flex;
  flex-direction: column;
  font-family: var.$primary-font;
  text-transform: uppercase;
  color: var.$white;
  font-weight: 400;

  &.overflow {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

p {
  font-family: var.$secondary-font;
}

.list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#password-hash {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}