@use 'variables'as var;
@use 'mixins'as mix;

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

.container {
  max-width: var.$desktop;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  min-height: 100%;
  background-color: var.$gray-bg;
  display: flex;
  flex-direction: column;
  font-family: var.$primary-font;
  text-transform: uppercase;
  color: var.$white;
  font-weight: 400;

  &.overflow {
    overflow: hidden;
  }
}

main {
  flex-grow: 1;
}

p {
  font-family: var.$secondary-font;
}

.list-style-none {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#password-hash {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.captcha {
  display: grid;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.captcha-btn {
  border: 1px solid var.$white;
  background: none;
  color: var.$white;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  height: 30px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .captcha {
    display: flex;
    gap: 20px;
  }

  .captcha-btn {
    width: 300px;
    height: 50px;
    margin: 0;
  }
}

.link {
  text-decoration: none;
  color: var.$white;
  transition: 0.3s ease-in-out;

  &:hover {
    opacity: 0.3;
  }
}