$tablet: 768px;
$desktop-min: 1024px;
$desktop: 1440px;

$primary-font: 'DINPRO', Arial, sans-serif;
$secondary-font: 'OSWALD', Arial, sans-serif;

$white: white;
$black: black;
$black-121010: #121010;
$black-0E0C0C: #0e0c0c;
$black-opacity-0-5: rgba(0, 0, 0, 0.5);
$black-0f0e0e: #0f0e0e;
$gray-gradient: linear-gradient(rgb(10, 10, 10), rgb(4, 0, 27));
$gray: #1c1a1a;
$gray-bg: #2f2f2f;

$blue-1: #042247;
$blue-gradient: linear-gradient(#10172d, #0031bc);
$orange: #ff4600;
$green: lightgreen;
$red: red;
$gray-bg-autosygnals: rgb(43, 43, 43);
$red-64001E: #64001e;
$red-B40036: #b40036;
$red-280000: #280000;
$red-D10000: #D10000;
$red-FF0000: #ff0000;
$gray_413E3E: #413e3e;
$gray_959090: #959090;
$gray_424242: #424242;
$gray_2B2B2B: #2b2b2b;
$gray_C4C4C4: #c4c4c4;
$black_0006: rgba(0, 0, 0, 0.6);

$DEV_PATH: '/dist/';
