@use "variables" as var;

.aside {
  &__offers {
    @media screen and (min-width: var.$tablet) {
      width: 748px;
      margin: 0 auto;
      display: flex;
    }

    @media screen and (min-width: var.$desktop-min) {
      width: 320px;
      flex-direction: column;
    }
  }
}