@use "variables" as var;

.filter-button {
  border: none;
  background-color: inherit;
  color: var.$white;
  font-family: var.$primary-font;
  text-transform: uppercase;
  font-size: 14px;
  align-self: flex-start;
  padding: 0;

  @media screen and (min-width: var.$desktop-min) {
    display: none;
  }

  & + .filter-form {
    display: none;
  }

  & + .filter-form.open {
    display: block;
    position: absolute;
    z-index: 100;
    background-color: var.$black;
    top: 20px;
    left: 0;
    right: 0;
    padding: 20px 0;
  }
}
.filter-button + .filter-form.open {
  @media screen and (min-width: var.$desktop-min) {
    display: block;
    position: static;
    background-color: transparent;
  }
}
