@use 'variables' as var;

// .filter-cost {
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   justify-content: center;
//   margin-bottom: 20px;

//   &__title {
//     font-size: 18px;
//     margin: 0;
//     line-height: 48px;
//     text-transform: uppercase;
//     font-weight: 700;
//     font-family: var.$secondary-font;
//   }

//   &__range-block {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//   }

//   &__range {
//     -webkit-appearance: none;
//     width: 100%;
//     height: 3px;
//     background-color: var.$white;
//     border-radius: 12px;
//     outline: none;
//     margin: 0;
//     opacity: 0.8;

//     &::-webkit-slider-thumb {
//       -webkit-appearance: none;
//       appearance: none;
//       width: 8px;
//       height: 8px;
//       background-color: var.$white;
//       border-radius: 50%;
//       cursor: pointer;
//     }
//     &::-moz-range-thumb {
//       width: 8px;
//       height: 8px;
//       background-color: var.$white;
//       border-radius: 50%;
//       cursor: pointer;
//     }

//     &::-webkit-slider-runnable-track {
//       border: none;
//       outline: none;
//     }

//     &::-moz-range-track {
//       background-color: var.$white;
//     }
//   }

//   &__range-values {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   &__range-span {
//     padding: 7px;
//     border: 1px solid var.$white;
//     width: 49%;
//     font-family: var.$primary-font;
//     font-weight: 700;
//     font-size: 18px;
//   }
// }

.filter-cost {
  padding-right: 10px;
}

.range-slider-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.number-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.numbers-wrapper {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-grow: 1;
}

.number-input {
  width: 100%;
  appearance: none;
  border: 2px solid var.$gray_959090;
  background-color: inherit;
  padding: 5px;
  color: var.$white;
  outline: none;
}

.range-container {
  position: relative;
}

.range-scale {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var.$gray_C4C4C4;
  border-radius: 5px;
  left: 2px;
}

.range-progress {
  position: absolute;
  left: 0%;
  right: 0%;
  height: 100%;
  background-color: var.$white;
  border-radius: 5px;
}

.range-input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: none;
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  z-index: 1;
}

.range-input::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background-color: var.$white;
  pointer-events: auto;
  appearance: none;
  -webkit-appearance: none;
}

.range-input::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border: none;
  border-radius: 50%;
  background: #010a0c;
  pointer-events: auto;
  appearance: none;
  -moz-appearance: none;
}
