@use "variables"as var;

.header {

  background: linear-gradient(#010308, #000208);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 19px 0;

    @media screen and (min-width: var.$tablet) {
      padding: 22px 0;
    }
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;

    .geo-address {
      display: flex;
      grid-column: 1/-1;
      align-items: center;
      justify-self: center;
      font-weight: 700;
      padding: 10px;
      margin-top: 20px;
      text-decoration: underline;
      text-align: center;


      svg {
        width: 40px;
        height: 40px;
        stroke-width: 10px;
      }

      @media screen and (min-width: 1025px) {
        min-width: 390px;
        grid-column: 10/13;
        text-align: left;
        margin-top: 0;
      }
    }
  }

  &__logo {
    grid-column: 1/2;
  }

  &__contacts {
    display: flex;
    grid-column: 12/13;
  }

  &__absolute {
    z-index: -1;
    position: absolute;
  }

  p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
  }


  &__instagram {
    display: flex;
    align-items: center;

    address {
      color: var.$white;
      display: none;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      max-width: 50%;
    }
  }

  &__instagram-image {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    .image {
      min-height: 100%;
      display: flex;
      align-items: center;

      svg {
        width: 30px;
        height: 35px;
        color: var.$white;
        margin-right: 10px;
      }
    }

  }

  &__cart {
    display: flex;
    align-items: center;

    .link {
      cursor: pointer;
      display: flex;
      width: 30px;
      height: 100%;
      position: relative;
      align-items: center;

      img {
        margin-top: -10px;
        width: 50px;
        height: 50px;

        @media screen and (min-width: var.$desktop-min) {
          margin-top: auto;
        }
      }

      svg {
        height: 35px;
      }
    }

    .counter {
      background-color: var.$red;
      border-radius: 50%;
      min-width: 20px;
      height: 20px;
      position: absolute;
      color: var.$white;
      right: -10px;
      top: 0px;
      text-align: center;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: var.$desktop-min) {
        min-width: 25px;
        height: 25px;
        font-size: 20px;
        line-height: 28px;
        top: -5px;
        font-family: var.$secondary-font;
      }
    }
  }

  @media screen and (min-width: var.$tablet) {
    address {
      display: none;
    }

    .cart .link {
      width: 50px;
      height: 50px;
    }
  }
}