@use "variables"as var;

.popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 10px;
  // transform: translate(-50%, -50%);
  min-width: 300px;
  max-width: 750px;
  width: calc(100% - 40px);
  z-index: 23;
  min-height: 300px;
  background-color: var.$gray;
  justify-content: center;
  text-align: center;
  align-items: center;

  &.active {
    display: flex;
  }

  &__phones {
    display: grid;
    gap: 20px;

    a {
      color: var.$white;
      text-decoration: none;
      padding-right: 40px;
      line-height: 45px;
      font-weight: 700;
      font-family: var.$secondary-font;

      &:first-of-type {
        border-bottom: 2px solid var.$white;
      }

      span {
        text-decoration: underline;
      }

      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        mask-repeat: no-repeat;
        mask-image: url('#{var.$DEV_PATH}assets/images/vectors/phone-no-border.svg');
        background-color: var.$white;
        mask-position: center;
        mask-size: cover;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__icons {
    display: flex;
    gap: 5px;
    justify-content: flex-end;
  }
}