@use "variables"as var;

.cart-section:has(.container):has(.cart-section__products) {
  min-height: 100%;
}

.product-card {
  background-color: var.$gray-bg;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  padding-bottom: 20px;
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
  }

  &__bg {
    border-radius: 15px 15px 0 0;
    background-color: var.$white;
    padding: 10px 5px 25px 5px;
  }

  &__buttons-count {
    display: flex;
    justify-items: center;
    gap: 10px;
    position: relative;
    width: calc(100% - 20px);


    button {
      width: 50%;
      min-width: unset;
    }
  }

  &__quantity {
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    border: 1px solid var.$white;
    width: 65px;
    height: 65px;
    background-color: var.$blue-1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__body {
    display: grid;
    align-content: space-between;
    background-color: var.$gray-bg;
    padding: 20px;
    border-radius: 0 0 15px 15px;

    a {
      margin-bottom: 10px;
    }

    h3 {
      margin-top: 0;
    }
  }

  &__head {
    padding-bottom: 10px;
  }

  &__buttons {
    display: grid;
    justify-content: center;
    gap: 0px;
    width: inherit;
    align-self: flex-end;

    &.cart-btn {
      display: flex;
      gap: 20px;
    }
  }

  .price {
    span:nth-of-type(2) {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__text {
    margin: 0;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-family: var.$primary-font;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: var.$desktop-min) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__link {
    padding: 0 30px 4px 0;
    text-decoration: none;
    color: var.$white;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: var.$desktop-min) {
      padding-right: 40px;
      background-size: 30px 30px;
      font-size: 24px;
      line-height: 30px;
    }
  }

  img {
    height: 200px;
  }
}