@use "variables"as var;

.cart-section:has(.container):has(.cart-section__products) {
  min-height: 100%;
}

.product-card {
  background-color: var.$gray-bg;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
  height: 100%;

  &:hover {
    transform: scale(1.05);
  }

  &__bg {
    border-radius: 15px 15px 0 0;
    background-color: var.$white;
  }

  &__buttons-count {
    display: flex;
    justify-items: center;
    padding: 10px;
    gap: 10px;
    position: relative;

    button {
      width: 50%;
      min-width: unset;
    }
  }

  &__quantity {
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    border: 1px solid var.$white;
    width: 65px;
    height: 65px;
    background-color: var.$blue-1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__body {
    display: grid;
    align-content: space-between;
    background-color: var.$gray-bg;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    min-height: 70%;

    a {
      margin-bottom: 10px;
    }

    h3 {
      margin-top: 0;
    }
  }
}