@use "variables" as var;

.intro {
  position: relative;
  box-shadow: 0px 90px 100px var.$black-0E0C0C;

  &__link {
    padding: 10px;
    font-size: 20px;
    line-height: 28px;
    font-family: var.$secondary-font;

    @media screen and (min-width: 1030px) {
      font-size: 32px;
      line-height: 34px;
    }

    @media screen and (min-width: var.$desktop) {
      font-size: 64px;
      line-height: 86px;
      min-width: 554px;
    }
  }

  &__advantages-text {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    padding-left: 50px;
    width: 100%;
    display: flex;

    @media screen and (min-width: var.$desktop-min) {
      font-size: 48px;
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background-image: url("#{var.$DEV_PATH}assets/images/vectors/aprove.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @media screen and (min-width: var.$desktop-min) {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__content {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
    width: inherit;
    gap: 10px;

    @media screen and (min-width: var.$desktop-min) {
      padding-top: 100px;
      gap: 20px;
    }

    @media screen and (min-width: var.$desktop) {
      padding-top: 150px;
    }

    .y-button {
      position: absolute;
      bottom: 25%;

      @media screen and (min-width: var.$tablet) {
        bottom: 30%;
      }
    }
  }

  .swiper-intro__slide {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(black, #170f0f52);
      box-shadow: inset 10px -40px 20px var.$black-0E0C0C;
    }

    .intro__video {
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }

  h1,
  h2,
  li {
    color: var.$white;
  }

  &__list-slide {
    min-height: 150px;
    display: grid;
    align-content: center;
    justify-items: flex-start;
    gap: 5px;

    @media screen and (min-width: var.$desktop-min) {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__title {
    font-size: 24px;
    margin: 0;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.5s ease-in-out;

    &.visible {
      transform: translateY(0px);
      opacity: 1;
    }

    @media screen and (min-width: var.$desktop-min) {
      font-size: 64px;
    }
  }

  .swiper-intro {
    height: 100vh;
  }
}
