@use 'variables' as var;

.quality {
  position: relative;
  overflow: hidden;
  min-height: 600px;
  border-top: 1px solid white;

  @media screen and (max-width: var.$tablet) {
    min-height: 200px;
  }

  @media screen and (max-width: var.$desktop-min) {
    min-height: 200px;
  }

  &__video {
    min-height: inherit;
    margin: 0 auto;
    display: flex;
    height: inherit;
    max-width: 100%;
    max-height: 600px;
    position: relative;
    z-index: 2;
    object-fit: cover;
    top: 0;
    left: 0;

    &--bg {
      display: flex;
      width: 100%;
      max-height: 600px;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      top: 200px;
      left: 0;
      filter: blur(5px);
    }
  }

  &__present {
    min-height: 200px;
    // position: absolute;
    // bottom: -2px;
    width: 100%;

    h2 {
      position: relative;
      min-height: 100px;
      display: flex;
      align-items: center;
      background-color: var.$black;
      margin: 0;
      z-index: 3;
      text-align: center;
      justify-content: center;
      width: 100%;

      p {
        display: flex;
        max-width: 1440px;
        padding: 30px 20px 30px 50px;
        margin: 0 auto;
        justify-content: center;
        font-weight: 400;
        font-family: var.$primary-font;

        span {
          display: flex;
          // max-width: 380px;
          text-align: center;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 10px;
          position: relative;

          &::before {
            content: '';
            // top: 50%;
            // left: -260px;
            // transform: translateY(-50%);
            // position: absolute;
            width: 240px;
            height: 40px;
            margin: 15px auto;
            background-image: url('/client/images/logo-starline.png');
            background-size: cover;
            background-position: center;
          }
        }
      }
    }
  }

  &__list-wrapper {
    background-color: var.$black-0E0C0C;
    min-height: 100px;
    width: 100%;
    border-top: 2px solid var.$white;
    border-bottom: 2px solid var.$white;
    z-index: 2;
    position: relative;
    bottom: 2px;

    .container {
      min-height: inherit;
    }
  }

  &__list {
    min-height: inherit;
    width: 100%;
    align-content: center;
    font-weight: 700;
    font-family: var.$secondary-font;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding: 180px 0 40px 0;

    p {
      margin: 0;
      text-align: center;
    }

    @media screen and (max-width: var.$desktop-min) {
      padding: 40px 0;
      align-content: left;

      p {
        text-align: left;
      }
    }

    @media screen and (min-width: var.$desktop-min) {
      display: flex;
      align-items: stretch;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    li {
      padding-left: 40px;
      text-align: left;
      font-size: 18px;
      position: relative;
      align-items: start;

      @media screen and (min-width: var.$desktop-min) {
        padding-left: 0;
      }

      img {
        width: 150px;
        height: 150px;
        position: absolute;
        top: -155px;
        left: 50%;
        transform: translateX(-50%);

        @media screen and (max-width: var.$desktop-min) {
          display: none;
        }
      }

      &::before {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        top: -155px;
        left: 50%;
        transform: translateX(-50%);
        display: none;

        @media screen and (max-width: var.$desktop-min) {
          display: block;
          top: 50%;
          left: 0;
          width: 30px;
          height: 30px;
          transform: translateY(-50%);
          background-image: url('/client/vectors/aprove.svg');
        }
      }
    }
  }

  &__item {
    text-transform: uppercase;
  }

  h2 span {
    font-size: 16px;
    text-transform: uppercase;

    @media screen and (min-width: var.$phone) {
      font-size: 20px;
    }

    @media screen and (min-width: var.$desktop-min) {
      text-align: left;
    }
  }

  @media screen and (max-width: var.$desktop-min) {
    &__present {
      min-height: 100px;
    }
  }

  @media screen and (min-width: var.$desktop-min) {
    min-height: 680px;

    &__video {
      max-width: 100%;

      &--bg {
        max-width: 100%;
      }
    }

    h2 {
      min-height: 200px;
      font-size: 64px;
      line-height: 88px;

      p {
        padding-left: 150px;

        span {
          // max-width: 750px;
          font-size: 32px;
          line-height: 36px;

          &::before {
            // width: 150px;
            // height: 150px;
            // left: -150px;
          }
        }
      }
    }

    &__item {
      text-align: center;
      font-size: 28px;
      flex-basis: 32%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &--hidden {
        display: none;
      }
    }

    &__list-wrapper {
      min-height: 200px;
    }
  }
}
