@use 'variables' as var;
@use 'mixins' as mix;

.sertificates {
  overflow: hidden;
  padding: 50px 0;

  .swiper-sertificates {
    padding-bottom: 30px;
    height: 530px;

    @media screen and (min-width: var.$desktop) {
      height: 600px;
    }

    li a {
      display: flex;
      justify-content: center;
    }
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    bottom: 0;

    .swiper-pagination-bullet {
      transition: 0.3s ease-in-out;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      background-color: var.$red-B40036;
    }

    .swiper-pagination-bullet-active {
      background-color: var.$red;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px; /* Добавляем отступы по бокам слайда */

    /* Стили для ссылки-обертки изображения */
    a:first-child {
      border-radius: 16px;
      overflow: hidden;
      display: block;
      width: 100%;
      height: 450px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .sertificates__download {
      color: white;
      text-decoration: none;
      background-color: red;
      padding: 10px 0; /* Убираем боковые отступы, так как ширина 100% */
      border-radius: 4px;
      width: 100%; /* Растягиваем на всю доступную ширину */
      text-align: center; /* Центрируем текст внутри кнопки */
    }
  }

  @media screen and (min-width: var.$desktop-min) {
    padding: 100px 0;
  }
}
