# Запрет доступа к файлам
<Files "config.php">
  Require all denied
</Files>

<Files "admin.php">
  Require ip 127.0.0.1
  Require ip 78.81.244.251
  Require ip 51.158.252.220
  Require ip 171.97.222.134
</Files>

# Разрешение доступа к PDF-файлам
<FilesMatch "\.pdf$">
  <RequireAll>
    Require all granted
  </RequireAll>
</FilesMatch>
# MIME-типы
AddType application/pdf .pdf
AddType application/font-woff .woff
AddType application/font-woff2 .woff2
AddType application/vnd.ms-fontobject .eot
AddType font/ttf .ttf
AddType font/otf .otf
AddType image/avif .avif

<IfModule mod_mime.c>
  AddType image/avif avif
</IfModule>
 
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "http://localhost:5173"
  Header set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
  Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

# Управление CORS для шрифтов
<FilesMatch "\.(ttf|otf|eot|woff|woff2)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
  Require all granted
</FilesMatch>

# Обработка OPTIONS запросов для CORS
# RewriteCond %{REQUEST_METHOD} OPTIONS
# RewriteRule ^(.*)$ $1 [R=200,L]

# Кэширование
<IfModule mod_expires.c>
  ExpiresActive Off
  ExpiresByType image/x-icon "access plus 7 days"
  ExpiresByType image/jpeg "access plus 7 days"
  ExpiresByType image/png "access plus 7 days"
  ExpiresByType image/gif "access plus 7 days"
  ExpiresByType image/avif "access plus 7 days"
  ExpiresByType application/x-shockwave-flash "access plus 7 days"
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType text/javascript "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
  ExpiresByType application/x-javascript "access plus 7 days"
  ExpiresByType text/html "access plus 1 day"
  ExpiresByType application/xhtml+xml "access plus 10 minutes"
</IfModule>

# ЧПУ
RewriteEngine On



# Обработка ошибок
ErrorDocument 404 /server/php/errors/404.php
ErrorDocument 403 /server/php/errors/403.php
ErrorDocument 500 /server/php/errors/500.php
# ErrorLog /var/log/apache2/test-hosting-online.error.log

# ЧПУ для новостей
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^products/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)$ /server/php/pages/products/product.php?category=$1&id=$2 [L,QSA]


RewriteRule ^service$ /server/php/pages/services/service.php [L,QSA]
RewriteRule ^about$ /server/php/pages/about/about.php [L,QSA]
RewriteRule ^contacts$ /server/php/pages/contacts/contacts.php [L,QSA]
RewriteRule ^price$ /server/php/pages/price/price.php [L,QSA]
RewriteRule ^special$ /server/php/pages/special/special.php [L,QSA]
RewriteRule ^cart$ /server/php/pages/cart/cart.php [L,QSA]
RewriteRule ^checkout$ /server/php/pages/checkout/checkout.php [L,QSA]
RewriteRule ^api/products/get$ /server/php/api/products/get_all_products.php [L,QSA]

RewriteRule ^/$ /index.php [L,QSA]



# Обработка URL без параметров
RewriteRule ^parking-systems$ /server/php/pages/parking-systems/parking-systems.php [L,QSA]

# Обработка parking-systems.php с параметром SELECT
RewriteCond %{QUERY_STRING} ^SELECT=([a-zA-Z0-9_-]+)$
RewriteRule ^parking-systems\.php$ /server/php/pages/parking-systems/parking-systems.php [L,QSA]

# Обработка parking-systems.php с параметрами SELECT и PAGE
RewriteCond %{QUERY_STRING} ^SELECT=([a-zA-Z0-9_-]+)&PAGE=([a-zA-Z0-9_-]+)$
RewriteRule ^parking-systems\.php$ /server/php/pages/parking-systems/parking-systems.php [L,QSA]



# Обработка URL без параметров
RewriteRule ^catalog$ /server/php/pages/catalog/catalog.php [L,QSA]

# Обработка catalog.php с параметром SELECT
RewriteCond %{QUERY_STRING} ^SELECT=([a-zA-Z0-9_-]+)$
RewriteRule ^catalog\.php$ /server/php/pages/catalog/catalog.php [L,QSA]

# Обработка catalog.php с параметрами SELECT и PAGE
RewriteCond %{QUERY_STRING} ^SELECT=([a-zA-Z0-9_-]+)&PAGE=([a-zA-Z0-9_-]+)$
RewriteRule ^catalog\.php$ /server/php/pages/catalog/catalog.php [L,QSA]

# Rule 1: Redirect /autosygnals to autosygnals.php
RewriteRule ^autosygnals$ /server/php/pages/autosygnals/autosygnals.php [L,QSA]

# Rule 2: Обработка autosygnal.php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^autosygnal\.php$ /server/php/pages/autosygnals/autosygnal.php [L,QSA]

# Rule 3: Обработка autosygnal без расширения .php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^autosygnal$ /server/php/pages/autosygnals/autosygnal.php [L,QSA]

# Обработка service.php с параметром service
RewriteCond %{QUERY_STRING} ^service=([a-zA-Z0-9_-]+)$
RewriteRule ^service\.php$ /server/php/pages/services/service.php [L,QSA]

# Обработка URL без параметров
RewriteRule ^service$ /server/php/pages/services/service.php [L,QSA]



# Rule 1: Redirect /services to services.php
RewriteRule ^services$ /server/php/pages/services/services.php [L,QSA]

# Rule 2: Обработка service.php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^service\.php$ /server/php/pages/services/service.php [L,QSA]

# Rule 3: Обработка service без расширения .php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^service$ /server/php/pages/services/service.php [L,QSA]

# Rule 1: Redirect /services to services.php
RewriteRule ^services$ /server/php/pages/services/services.php [L,QSA]

# Rule 2: Обработка service.php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^service\.php$ /server/php/pages/services/service.php [L,QSA]

# Rule 3: Обработка service без расширения .php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^service$ /server/php/pages/services/service.php [L,QSA]

# Rule 2: Обработка service.php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^special\.php$ /server/php/pages/special/special.php [L,QSA]

# Rule 3: Обработка special без расширения .php с любыми параметрами
RewriteCond %{QUERY_STRING} .+
RewriteRule ^special$ /server/php/pages/special/special.php [L,QSA]






RewriteRule ^contacts\.php$ /server/php/pages/contacts/contacts.php [L]
RewriteRule ^sertificates\.php$ /server/php/pages/sertificates/sertificates.php [L]
# Добавляем правило для URL без расширения .php
RewriteRule ^sertificates$ /server/php/pages/sertificates/sertificates.php [L,QSA]

# Обработка URL без параметров
RewriteRule ^product$ /server/php/pages/products/product.php [L,QSA]

# Обработка autosygnals.php с параметром category
RewriteCond %{QUERY_STRING} ^category=([a-zA-Z0-9_-]+)$
RewriteRule ^product\.php$ /server/php/pages/products/product.php  [L,QSA]

# Обработка catalog.php с параметрами category и id
RewriteCond %{QUERY_STRING} ^category=([a-zA-Z0-9_-]+)&id=([a-zA-Z0-9_-]+)$
RewriteRule ^product\.php$ /server/php/pages/products/product.php [L,QSA]

# Обработка URL без параметров
RewriteRule ^login$ /server/php/auth/login.php [L,QSA]
RewriteRule ^google_auth$ /server/php/auth/google_auth.php [L,QSA]
RewriteRule ^sign_in$ /server/php/auth/sign_in.php [L,QSA]
RewriteRule ^sign_up$ /server/php/auth/sign_up.php [L,QSA]
RewriteRule ^google_auth_callback$ /server/php/auth/google-auth-callback.php [L,QSA]
RewriteRule ^admin$ http://localhost:5173/admin/index.html [L,QSA]
RewriteRule ^profile$ /server/php/admin/api/profile/profile.php [L,QSA]
