@use 'variables'as var;

.animated-button {
  background-color: var.$black;
  color: var.$white;
  animation: shine 7s infinite;
}

@keyframes shine {
  0% {
    background-color: var.$black;
    color: var.$white;
    transform: scaleX(1);
  }

  50% {
    background-color: var.$white;
    color: var.$black;
    transform: scaleX(1.02);
  }

  100% {
    background-color: var.$black;
    color: var.$white;
    transform: scaleX(1);
  }
}

.animated-calling {
  animation: calling 3s infinite;
}

@keyframes calling {
  0% {
    transform: scaleX(1) rotate(10deg);
  }

  50% {
    transform: scaleX(1.02) rotate(0deg);
  }

  60% {
    transform: scaleX(1.02) rotate(12deg);
  }

  70% {
    transform: scaleX(1.02) rotate(0deg);
  }

  100% {
    transform: scaleX(1) rotate(10deg);
  }
}